<div class="table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" class="display table table-hover" id="tblEqui" width="100%"> 
        <thead>
            <tr class="titles">
            	<th>ID</th>
                <th>NO.SERIE</th>
                <th>MOD</th>
                <th>MARCA</th>
                <th>CAT</th>
                <th>ACCE</th>
               <!-- <th class="center">SEL</th>-->
            </tr>
        </thead>
        <tbody class="tblEquipo">  
        	{% for list in services %}
				{% for equipo in list.equipo.all %}
			<tr>
				<td>{{ equipo.id }}</td>
				<td><a href="#" class="btnSerEquipo" id="btnSerEquipo">{{equipo.noserie}}</a></td>
				<td>{{equipo.modelo}}</td>
				<td>{{equipo.marca}}</td>
				<td>{{equipo.categoria}} </td>
				<input type="hidden" class="txtIdEquipo" value="{{equipo.id}}">
				<input type="hidden" class="txtIdCat" value="{{equipo.categoria.pk}}">
				<td class="center"><button class="btn btn-primary btn-xs btnEAcc" id="btnEAcc" title="ver accesorios del equipo"><i class="fa fa-wrench"></i></button></td>
				<!--<td class="center"><button class="btn btn-success btn-xs btnSerEquipo" id="btnSerEquipo"><i class="fa fa-wrench"></i></button></td>-->
			</tr>
				{% endfor %}
			{% empty %}
				<tr>
					<td>No hay datos</td>
					<td>No hay datos</td>
					<td>No hay datos</td>
					<td>No hay datos</td>
					<td>No hay datos</td>
					<td>No hay datos</td>
					<!--<td>No hay datos</td>-->
				</tr>
			{% endfor %}

        </tbody>
        <tfoot> </tfoot>
    </table>
</div>
