@import 'nib/vendor'

vendor-prefixes= o ms mos webkit official
azul = #3276B1
gris = #cbcbcb
naranja = #ff7700

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?3q4lc6');
	src:url('../fonts/icomoon.eot?#iefix3q4lc6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?3q4lc6') format('woff'),
		url('../fonts/icomoon.ttf?3q4lc6') format('truetype'),
		url('../fonts/icomoon.svg?3q4lc6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


// --------------------mixins---------------------
boton-estilo(c,b)
	background-color b
	color c
	font-weight bold

border-radius(n)
	border-radius n

iconos(posicion,color,content,fuente)
	&:after
		color color
		content content
		font-family fuente

spanLabel()
	color azul
	font-size 16px	

span-servicio()
	font-size 14px
	font-style italic	
	font-weight bold
// -----------------------------------

html,body
	font-size 16px
	font-family: 'Titillium Web', sans-serif;
	min-height 100%
	min-width 100%
	margin 0
	padding 0

.active
	color naranja
	font-weight bold

.active-menu
	background-color rgba(255,119,0,0.8)
	color white	

a > span.glyphicon-plus
	color #47A447
		
.avatarCli
	
	img
		height 180px
		width 180px
		border 4px solid naranja
		border-radius(180px)


.badge
	background-color naranja

.btnBack
	border-radius(40px)	
	box-shadow -3px 3px 1px rgba(0,0,0,0.3)
	height 40px
	width 40px	

.btnClientes
	background-color #fff
	border none
	border-radius(5px)
	box-shadow 2px 1px 4px naranja
	color naranja
	font-size 14px
	padding 4px
	transition 0.4s

	&:hover
		background-color naranja
		color white
		transform: scale(1.2,1.2)

.btnEdit
	text-align center	

.btnEquipo
	background-color azul
	border-radius(12px)
	box-shadow 3px 5px 10px rgba(0,0,0,0.5)
	border none
	color #fff
	font-size 13px
	height 40px
	padding 5px
	text-align center

.btnFront
	background-color white
	color naranja	
	font-weight bold

.btnprintS
	border-radius(40px)	
	box-shadow 3px 3px 3px rgba(0,0,0,0.3)
	height 40px
	margin 8px
	width 40px		

	span 
		vertical-align middle

.btnprintS>span 
	vertical-align middle
	
.btnServicio
	cursor pointer	

.btnsig
	// boton-estilo(#fff,green,30px)
	border-radius(40px)	
	box-shadow 3px 3px 3px rgba(0,0,0,0.3)
	height 40px
	width 40px	

.btn-b
	boton-estilo(#fff,#000)	

.btn-e
	boton-estilo(#fff,naranja)

.btn-d
	boton-estilo(naranja,#F5FF2D)
	
.btn-g 
	boton-estilo(#fff,#E4447C)	
	
.btn-p
	boton-estilo(#fff,#0736AE)
	
.btn-r
	boton-estilo(white,#1F5BF5)

.btn-salida
	color #fff	

	&:hover
		color #fff
		text-decoration none
	
.btn-s 
	boton-estilo(#fff,red)
		
.btn-t 
	boton-estilo(#fff,#47A447)

.btn-tt
	boton-estilo(#fff,#04AE9D)	
	
.center
	text-align center	

.chkRev
	border-radius(30px)

/*input[type = checkbox]
	visibility hidden*/

.containerown
	border 1px solid #949494
	border-radius(10px)
	margin 0 auto
	max-width 100%
	padding 20px
	width 100%

.datosC
	background-color rgba(azul,0.2)
	margin 0 auto
	width 100%

.divAccesorios
	background-color rgba(naranja,0.8)
	border-radius 5px
	color #fff
	display none	

div.contenedor
	position relative

div.contenedor div
	border 2px solid white
	border-radius(35px)
	height 35px
	position absolute	
	text-align center
	transition: all 0.9s ease
	width 35px

div.contenedor
	div.back
		font-size 18px

	div.fron	
		font-size 14px
		overflow hidden

div.contenedor 
	&:hover,&:focus
		div.back
			transform: perspective(400px) rotateY(179.9deg)

div.contenedor 
	&:hover,&:focus
		div
			border 2px solid naranja

		div.fron
			transform: perspective(0px) rotateY(0deg)			
	
div.contenedor div
	backface-visibility: hidden

div.contenedor div.back 
	transform: perspective(400px) rotateY(0deg)

div.contenedor div.front
	transform: perspective(400px) rotateY(-179.9deg)	

.divEquipos
	max-width 100%

.divEquipos:nth-child(even)
	background-color gris

.divFin
	background-color rgba(naranja,0.7)	
	border-radius(3px)
	box-shadow 3px 0px 6px rgba(#000,0.5)
	display none;
	max-width 90%
	padding 5px
	
	.botones
		.spnTots
			color white
			font-weight bold

		.btnprint
			border-radius(40px)	
			box-shadow 3px 3px 3px rgba(0,0,0,0.3)
			height 40px
			width 40px	

.divGarantia
	background-color red			

.divHistorial	
	background-color rgba(azul,0.8)
	border-radius 5px
	color #fff
	display none	
	
.divOptions
	padding-top 15px	

.divOptionsPrint
	margin-bottom 10px	

.divPicture
	border 1px solid azul
	border-radius(5px)	
	box-shadow 0px 2px 5px rgba(black,0.6)
	display none
	padding 5px

	.btnPicture
		box-shadow 2px 2px 5px rgba(black,0.6)

.divPrintRe
	display none
	margin-top 5px		

.divP1
	margin-top -40px

.divP2
	display none
	margin-top -40px

.divP3
	display none	
	margin-top -40px	

.divRegister
	border 1px solid #cbcbcb
	border-radius(1px)

.divRespaldo
	//display none	

.divSol,.divSolBd 
	background-color #cbcbcb
	display none

.divSolPosi
	background-color azul
	border-radius 2px
	color #fff
	display none	

.errorlist
	color #f00	
	

.fa-asterisk
	color red

.fechas
	color naranja	

footer
	background-image url('../img/squairy_light.png')
	border 1px solid rgba(black,0.4)
	text-align center
	width 100%

	h3 
		font-size 14px
		font-weight normal

	strong
		display block	
	
	.divInfo
		&:before
		&:after
			content "-"

hr 
	background-image linear-gradient(left,#fff,#3276B1,#fff)
	border 0
	height 3px
	text-align center

.changeG
	border 1px solid rgba(azul,0.5)
	border-radius 5px
	box-shadow 0px 3px 3px rgba(black,0.3)
	display none
	padding 10px
	width 35%

	input[type = "number"]
		width 80px	

.lastEstado
	color azul	
	font-style italic
	font-weight bold

.lblCon
	spanLabel()

	//&:before
	//	color naranja
	//	content "\e610"
	//	font-family "iconitos"	

.lblEquipo , .lblMant
	spanLabel()

.lblFalla
	spanLabel()
	iconos('after',green,'\e612','iconitos')		

.lblMant
	
	//&:before
	//	color naranja
	//	content "\e609"
	//	font-family "iconitos"		

.lblObser
	spanLabel()
	iconos('after',naranja,'\e60a','iconitos')	

.lblPic
	color azul	
	font-weight bold
	
.lblResp
	spanLabel()	

.lblRev 
	spanLabel()

.lblServs
	spanLabel()
	iconos('after',naranja,'\e601','iconitos')	

.lnkClie
	color white
	text-decoration underline
	&:hover
		color naranja
		font-weight bold	

.lnknoti
	transition :.8s all

	&:hover
		color naranja
		text-decoration none	

.lista
	list-style circle		

ul.listSug
	list-style none	

mark
	background-color rgba(azul,0.4)				

.mas>span
	background-color #fff
	border-radius(15px)
	color #47A447
	font-size 10px
	height 15px
	margin-top -3px
	padding 2px
	text-align center
	vertical-align middle
	width 15px

.modal
	background-color rgba(50,118,117,0.4)

.modal-title
	color #3276B1
	font-size 1.2em
	font-weight bold

.msj-formSer
	color #f00	
	border 1px solid red
	border-radius(5px)
	box-shadow 0px 1px 5px rgba(black,0.5)
	text-align center
	width 80%

.navbar
	background-color #3276B1
	border none
	//box-shadow 0 4px 3px rgba(50,118,177,0.5)
	
.navbar-inverse .navbar-nav >li > a	
	color #fff
	font-family: 'Orbitron', sans-serif;
	font-size 15px
	&:not(.notificacion):hover
		background-color rgba(255,119,0,0.7)

.navbar-inverse .navbar-nav > .open > a:focus
	background-color rgba(255,119,0,0.7)
	color white
	font-weight bold

.notificacion
	cursor pointer	

.not
	color red

.ok
	color green	

.recibo
	width 300px
	height 100px
	background-color green	
	color red	

#sctnContainer
	top -10px
	position relative

#sctnOptions
	//background-color #cbcbcb
	background-image url('../img/binding_light.png')
	border-bottom 1px solid #949494
	height 60px
	margin-top 50px
	overflow hidden
	position relative
	width 100%

.slctPic
	border-radius(10px)	
	color azul

::-webkit-file-upload-button
	background azul
	border-radius(5px)
	box-shadow 4px 2px 8px rgba(black,0.5)
	color white

.spanFalla
	color #f00
	span-servicio()

.spinSol
	color azul

.spnEdo
	spanLabel()	

.spnSolu
	color #ff0

.spnStep
	color #ff7700
	margin-top -2px

.spnTotal
	font-weight bold	
	text-decoration underline

.spnTotS
	color #f00

span.txtSelDev
	color azul
	span-servicio()

.titleEqu
	color azul
	font-size 25px
	iconos('after',green,'\e608','iconitos')
	
.titleDet
	color naranja
	font-size 20px
	font-style italic	

.titGaranti

	span 
		color azul

.titles 
	font-size 14px

.titleSec
	color #000
	font-size 1.2em		
	font-weight bold

.titlePanel
	color #ff7700
	font-size 1.1em
	font-weight bold

.titleProd
	color azul
	font-size 25px
	iconos('after',green,'\e602','iconitos')		
	
.titleSol
	font-size 25px
	iconos('after',green,'\e60c','iconitos')	
	

.txtFalla::-webkit-input-placeholder
	color rgba(azul,0.9)

.txtFalla::-moz-placeholder
	color rgba(azul,0.9)

.txtFalla::-ms-placeholder
	color rgba(azul,0.9)

.txtFalla:-moz-p.txtSelCli
	color rgba(azul,0.9)	

.txtSelCli
	color rgba(azul,0.9)

.txtContraseña::-webkit-input-placeholder
	color rgba(azul,0.9)

.txtContraseña::-moz-placeholder
	color rgba(azul,0.9)

.txtContraseña::-ms-placeholder
	color rgba(azul,0.9)

.txtContraseña:-moz-p.txtSelCli
	color rgba(azul,0.9)		

.txtSelCli::-webkit-input-placeholder
	color rgba(azul,0.9)

.txtSelCli::-moz-placeholder
	color rgba(azul,0.9)

.txtSelCli::-ms-placeholder
	color rgba(azul,0.9)

.txtSelCli:-moz-p.txtSelCli
	color rgba(azul,0.9)	

.txtSelEquipo,.txtFalla
	color rgba(azul,0.9)

.txtSelEquipo::-webkit-input-placeholder
	color rgba(azul,0.9)

.txtSelEquipo::-moz-placeholder
	color rgba(azul,0.9)

.txtSelEquipo::-ms-placeholder
	color rgba(azul,0.9)

.txtSelEquipo:-moz-p.txtSelCli
	color rgba(azul,0.9)		
	
.panel-primary > .panel-heading
	font-size 1.2em

.ui-datepicker-calendar tr 
	font-size 10px

.ui_tpicker_hour_label , .ui_tpicker_minute_label , .ui_tpicker_time_label
	font-size 15px	

ul.listaedoserv
	float right
	list-style none	
	position relative
	top -38px
	white-space nowrap

	li
		display inline-block
		margin 15px

#user
	position relative
	left -1.2%			

.watch
	color #C40505	

@media screen and (max-width 780px)

	.divEquipos
		margin 0 auto

	#sctnOptions
		height 90px





		
	



